<Input type='text'
  @placeholder={{this.searchPlaceholder}}
  class='map-search-input'
  @value={{this.searchTerms}}
  {{on 'focus' (action 'handleFocusIn')}}
  {{on 'blur' (action 'handleFocusOut')}}
/>

{{#if this.searchTerms}}
  <button class="clear-button" aria-label="Clear Search" type="button" {{action 'clear'}}>
    {{#if (and this.loading (this.is-fulfilled this.loading))}}
      <FaIcon @icon='spinner' @spin={{true}} class="dark-gray" />
    {{else}}
      <FaIcon @icon='times' class="dark-gray" />
    {{/if}}
  </button>
{{else}}
  <FaIcon @icon='search' class="search-icon" />
{{/if}}

<ul class="search-results no-bullet{{if (or this.resultsCount this.currResults)' has-results'}} {{if this._focused 'focused'}}"
  onmouseleave={{action 'handleHoverOut'}}
  {{! template-lint-disable "invalid-interactive" }}>
  {{#each-in (group-by "typeTitle" this.currResults) as |type rows|}}
    <li>
      <h4 class="header-small results-header">{{type}}</h4>
    </li>
    {{#each rows key='label' as |result|}}
      <li class="result {{if (eq this.selected result.id) 'highlighted-result'}}" {{action 'goTo' result}}
        onmouseover={{action 'handleHoverResult' result}}
        role="button">
        {{#if this.hasBlock}}
          {{yield (hash result=result)}}
        {{else}}
          {{result.label}}
        {{/if}}
      </li>
    {{/each}}
  {{/each-in}}
</ul>

{{#if (and this.searchTerms (not this.resultsCount) (this.is-fulfilled this.results))}}
  <div class="search-results--loading">No Results Found</div>
{{/if}}
