<div {{action 'toggleLayerGroupsContainer'}}
  class="layer-groups-container-title {{unless this.open 'closed'}} layer-groups-container--{{dasherize this.title}}"
  role="button">
  {{this.title}}
  {{#if this.numberMenuItems}}
    <span class="badge">{{this.numberMenuItems}}</span>
  {{/if}}
  {{#if (and this.mapIsLoading this.open this.numberMenuItems)}}
    <FaIcon @icon='spinner' class='fa-spin medium-gray' />
  {{/if}}
</div>
<div class="layer-groups-container-content">
  {{yield (hash
      layer-group-toggle=(component 'deprecated/layer-group-toggle' willDestroyHook=(action 'unregisterChild') didInit=(action 'registerChild'))
    )
  }}
</div>
